###
# Unity folders and files
###
/Midgarson/[Aa]ssets/AssetStoreTools*
/Midgarson/[Bb]uild/
/Midgarson/[Ll]ibrary/
/Midgarson/[Ll]ocal[Cc]ache/
/Midgarson/[Oo]bj/
/Midgarson/[Tt]emp/
/Midgarson/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.xxxx
*.log
/Midgarson/UserSettings/Layouts/default-2021.dwlt
Midgarson\UserSettings\Layouts\default-2021.dwlt

/Midgarson/UserSettings/EditorUserSettings.asset
Midgarson\UserSettings\EditorUserSettings.asset

/Midgarson/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Midgarson\Logs\shadercompiler-UnityShaderCompiler.exe0.log

/Midgarson/Logs/shadercompiler-AssetImportWorker0.log
Midgarson\Logs\shadercompiler-AssetImportWorker0.log

/Midgarson/Logs/AssetImportWorker1.log
Midgarson\Logs\AssetImportWorker1.log

Midgarson\Logs\AssetImportWorker0.log
/Midgarson/Logs/AssetImportWorker0.log
*.vsidx
